<h1>Input field component</h1>
<div data-sly-test="${wcmmode.edit || wcmmode.preview}">
	<!-- Render HTML file in EDIT and PREVIEW mode-->
    <section data-sly-include="input.html"></section> 
</div>
<div data-sly-test="${!wcmmode.edit && !wcmmode.preview}">
	<!-- Render by Angular 2 component in wcmmode=DISABLED mode-->
    <input-field type="${properties.typeSelection}" placeholder="${properties.placeholder}" id="${properties.id}" formControlName="${properties.formControlName}" class="${properties.class}"></input-field>
</div>