<div class="col-md-4 col-12">
  <div class="section-medium">
    <h2 class="h2 green">Account Details</h2>
    <ul class="vList bordered">
      <li>
        <label class="header">Name</label>
        <p class="meta">{{userDetails.FirstName}} {{userDetails.LastName}}</p>
      </li>
      <li>
        <label class="header">Email Address</label>
        <p class="meta bold">{{userDetails.EmailAddress}}</p>
      </li>
      <li>
        <label class="header">Date of birth</label>
        <p class="meta">{{userDetails.DateOfBirth}}</p>
      </li>
      <li>
        <label class="header">Phone number</label>
        <p class="meta">{{userDetails.PhoneNumber}}</p>
      </li>
    </ul>
  </div>
</div>
